h1{
    color:grey;
}

body{
    columns: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
}

li{
    height: 40%;
}

.delete{
    float: right;
    background: transparent;
    border: none;
}

.update{
    background: bottom;
    border: none;
}

.device{
    margin-top: 5px;
    background: #93c7ff;
    max-width: 90%;
    width: 200px;
    height: 72%;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
}


footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 50px;
    margin-bottom: 16px;
    color:black;
}

form{
    margin: 10px;
    padding: 10px;
}



header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.main-content{
    flex-grow: 1;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
    margin-top: 10px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    padding: 8px;
    margin-top: 10px;
}

#deviceId{
    margin-left: 51px;
}
#deviceName{
    margin-left: 20px;
}

/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }


.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */